.header__root {
    background-color: $blue-dark-1;
    height: calc(100vh - 10vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1,
    p {
        margin: 0;
        padding: 0;
    }


    &__title {
        padding: 0 0 1rem 1rem;
    }

    &__title--root {
        display: flex;
        flex-direction: column;
        color: $blue-dark-9;
        font-weight: bold;
    }
}