.footer {
  display: flex;
  flex-direction: column;
  padding-top: $spacing-12;

  .footer-container {
    padding-top: $spacing-4;
    background-color: $base-color-2;
  }

  p,
  a {
    font-weight: 600;
    margin: 0;
  }

  &--primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info,
  &__source {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
}
