.layout__header__root__navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  * {
    font-weight: 600;
    text-decoration: none;
  }

  .theme-changer {
    border: none;
    background-color: transparent;
    display: inline-block;
    outline: none;
  }

  .animated__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap: $spacing-4;

    div,
    a,
    p {
      display: inline-block;
    }
  }
}

.active {
  color: red;
}
