.theme__changer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
}

.switch__root {
  width: 34px;
  height: 18px;
  border-radius: 9999px;
  position: relative;
  border: solid 1px;
  background-color: $bg-dark-subtle;
  -webkit-tap-highlight-color: $bg-dark-subtle;

  &:focus {
    box-shadow: 0 0 0 1px $tomato-dark-8;
  }

  &[data-state="checked"] {
    background-color: $tomato-dark-5;
  }

  &__thumb {
    display: block;
    width: 11px;
    height: 11px;
    background-color: $tomato-dark-10;
    border-radius: 99px;
    transition: transform 100ms;
    transform: translateX(-1px);
    will-change: transform;

    &[data-state="checked"] {
      transform: translateX(10px);
    }
  }
}

html[data-theme="light"] {
  .switch__root {
    border-color: $tomato-light-6;
    background-color: $bg-light-subtle;
    -webkit-tap-highlight-color: $bg-light-subtle;

    &:focus {
      box-shadow: 0 0 0 1px $tomato-light-8;
    }

    &[data-state="checked"] {
      background-color: $tomato-light-5;
    }

    &__thumb {
      background-color: $tomato-light-9;
    }
  }
}

html[data-theme="dark"] {
  .switch__root {
    border-color: $tomato-dark-8;
    background-color: $bg-dark-subtle;
    -webkit-tap-highlight-color: $bg-dark-subtle;

    &:focus {
      box-shadow: 0 0 0 1px $tomato-dark-8;
    }

    &[data-state="checked"] {
      background-color: $tomato-dark-5;
    }

    &__thumb {
      background-color: $tomato-dark-9;
    }
  }
}
