.theme__changer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .6rem;
}

.switch__root {
    width: 36px;
    height: 18px;
    border-radius: 9999px;
    position: relative;
    border: solid 1px;
    background-color: $background-subtle-dark-color;
    -webkit-tap-highlight-color: $background-subtle-dark-color;


    &:focus {
        box-shadow: 0 0 0 1px $tomato-dark-8;
    }

    &[data-state='checked'] {
        background-color: $tomato-dark-5;
    }

    &__thumb {
        display: block;
        width: 11px;
        height: 11px;
        background-color: $tomato-dark-10;
        border-radius: 9999px;
        transition: transform 100ms;
        transform: translateX(2px);
        will-change: transform;

        &[data-state='checked'] {
            transform: translateX(19px);
        }
    }
}

html[data-theme="light"] {
    .switch__root {
        border-color: $tomato-light-6;
        background-color: $background-subtle-light-color;
        -webkit-tap-highlight-color: $background-subtle-light-color;


        &:focus {
            box-shadow: 0 0 0 1px $tomato-light-8;
        }

        &[data-state='checked'] {
            background-color: $tomato-light-5;
        }

        &__thumb {
            background-color: $tomato-light-9;
        }
    }
}

html[data-theme="dark"] {
    .switch__root {
        border-color: $tomato-dark-8;
        background-color: $background-subtle-dark-color;
        -webkit-tap-highlight-color: $background-subtle-dark-color;


        &:focus {
            box-shadow: 0 0 0 1px $tomato-dark-8;
        }

        &[data-state='checked'] {
            background-color: $tomato-dark-5;
        }

        &__thumb {
            background-color: $tomato-dark-9;
        }
    }
}