.list__item__header__read-more {
    background-color: $background-dark-color;
    color: $heading-dark-color;
}

html[data-theme="dark"] {
    .list__item {
        background-color: $tomato-light-9;
        color: $high-contrast-text-light-color;

        &:hover {
            background-color: $tomato-light-10;
        }
    }
}

html[data-theme="light"] {
    .list__item {
        background-color: $tomato-dark-9;
        color: $high-contrast-text-light-color;

        &:hover {
            background-color: $tomato-dark-10;
        }
    }
}


.hero {
    position: relative;
    height: 60vh;

    .hero__title p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        line-height: 1;
    }

    &__title {
        margin-top: 2rem;

        h1 {
            font-weight: 600;
        }
    }

    &__description {
        width: 100%;
        display: flex;
        font-size: $text-small;

        p {
            margin: 0;
        }
    }

    &__scroll-indicator {
        margin-top: 1.6rem;
        font-size: $text-small;

        display: flex;
        align-items: center;
        gap: .4rem;

        p {
            font-weight: 600;
        }
    }

    @media screen and (min-width: $breakpoint-phone) {
        &__title {
            font-size: 1.8em;
        }

        &__description {
            justify-content: flex-start;

            p {
                width: 100%;
                padding: 0;
            }
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        height: 96vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title {
            font-size: 2.4em;
        }

        &__description {
            justify-content: flex-end;
            font-size: $text-small;

            p {
                width: 70%;
                padding: 0;
            }
        }
    }

    @media screen and (min-width: $breakpoint-laptop) {

        &__title {
            font-size: 3.6rem;
        }

        &__description {
            justify-content: flex-end;
            font-size: 1.4rem;

            p {
                width: 56%;
                padding: 0 3.4rem 0 0;
            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {

        &__title {
            font-size: 3.8em;
        }

        &__description {
            flex-direction: column;
            align-items: flex-end;

            p {
                width: 46%;
                padding: 0 8rem 0 0;
            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop-xlarge) {

        &__title {
            font-size: 6.8em;
        }

        &__description {
            justify-content: flex-end;
            font-size: 2rem;

            p {
                width: 46%;
                padding: 0 18rem 0 0;
            }
        }
    }
}

.home__section {
    border-top: solid 1px;
    padding-bottom: 2rem;

    h2 {
        font-size: 2rem;
    }
}

.recent-posts {

    &__link__container {
        text-align: end;
        padding: 4rem 0 0;
        font-size: $text-small;
    }

    &__title {
        font-size: 2rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .list__item {
        width: 100%;
        height: 16rem;
        border-radius: 1.8rem;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__read-more {
                padding: .4rem 1rem;
                border-radius: 8rem;
            }

            &__read-more p {
                display: none;
            }
        }

        &__content {
            .title {
                font-weight: 600;
                font-size: 2rem;
            }

            .description {
                font-size: $text-small;
            }
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        &__list {
            gap: 3rem;
        }

        .list__item {
            height: 20rem;
        }
    }

    @media screen and (min-width: $breakpoint-laptop) {
        .list__item {
            width: 360px;
        }
    }
}

.footer {
    border-top: solid 1px;
    padding: 1rem 0;
    font-size: $text-small;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }
}