.recent-posts {

    h2 {
        padding-left: 1rem;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: .8em;
        padding: 1rem;
    }

    &__list__item {
        text-decoration: none;
        color: #fff;
        border: solid 1px;
        border-color: $border-color-dark;
        padding: .4rem 1rem;
        border-radius: .4rem;
    }
}