.slug-container {
  width: 94%;
  margin: 0 auto;

  @media screen and (min-width: $mq-tablet) {
    width: 90%;
  }

  @media screen and (min-width: $mq-laptop) {
    margin: 120px auto 100px;

    article {
      padding: 0 $spacing-8;
      max-width: 840px;
    }
  }

  @media screen and (min-width: $mq-desktop-xl) {
    width: 52%;
  }
}

.post-content {
  max-width: 760px;

  p {
    font-size: $font-size-4;
  }
}

.post__header__content {
  .post__description {
    font-size: $font-size-6;
  }

  .post__info {
    display: flex;
    align-items: center;
    gap: $spacing-4;

    &__reading-time {
      display: flex;
      align-items: center;
      gap: $spacing-2;
    }

    * {
      font-size: $font-size-3;
      margin-top: 0;
    }
  }
}

.post__header__img {
  overflow: hidden;
  max-width: 1250px;

  img {
    object-fit: cover;
    width: 100%;
    max-height: 350px;
    border-radius: $radius-2;
  }

  @media (min-width: $mq-laptop) {
    img {
      max-height: fit-content;
    }
  }
}