html[data-theme="dark"] {
    .post-content p {
        color: $low-contrast-text-dark-color;
    }
}


.slug-container {
    width: 94%;
    margin: 0 auto;

    @media screen and (min-width: $mq-tablet) {
        width: 90%;
    }

    @media screen and (min-width: $mq-laptop) {
        margin: 120px auto 100px;

        article {
            padding: 0 $s-8;
            max-width: 840px;
        }
    }

    @media screen and (min-width: $mq-desktop-xl) {
        width: 52%;
    }


    .post-content {
        max-width: 760px;

        p {
            font-size: $font-size-5;
        }
    }
}