/*
    markdown default elements
    styles
*/

.post-content {
  p {
    line-height: 1.4;
  }

  // blockquote
  blockquote {
    border-left: 4px solid;
    margin: 20px 0;
    padding: 10px 20px;
    font-style: italic;
  }

  ul {
    list-style-type: disc;
    margin: 0 0 20px 20px;
  }

  ol {
    list-style-type: decimal;
    margin: 0 0 20px 20px;
  }

  li {
    margin: 10px 0;
    line-height: 1.4;
    font-size: $font-size-5;
  }

  html[data-theme="light"] {
    blockquote {
      color: #666;
      border-left-color: #ccc;
      background-color: #f8f8f8;
    }
  }

  html[data-theme="dark"] {
    blockquote {
      background-color: #2e2e2e;
      border-left-color: #515151;
    }
  }
}
