/* Estilos para bloques de código */
div[data-rehype-pretty-code-fragment] {
    overflow: hidden;
    border-radius: 0.5rem;
    border: solid 1px;

    pre {
        overflow-x: auto;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
}

div[data-rehype-pretty-code-title] {
    padding: .2rem 0.5rem;
    font-size: small;

    // no se porque aparece doble titulo
    // asi que lo elimino mejor :/
    &:last-of-type {
        display: none;
    }
}


/* Tema claro para bloques de código */
html[data-theme="light"] {
    div[data-rehype-pretty-code-fragment] {
        background-color: $background-subtle-light-color;
        border-color: $border-light-color;
    }

    div[data-rehype-pretty-code-title] {
        background-color: $background-subtle-light-color;
        border-bottom: solid 1px $border-light-color;
        color: $low-contrast-text-light-color;
    }

    div[data-rehype-pretty-code-fragment] [data-highlighted-line] {
        border-left-color: $code-highlight-light-pure-color;
        background-color: $code-highlight-light-color;
    }
}


/* Tema oscuro para bloques de código */
html[data-theme="dark"] {
    div[data-rehype-pretty-code-fragment] {
        background-color: $background-subtle-dark-color;
        border-color: $border-dark-color;
    }

    div[data-rehype-pretty-code-title] {
        background-color: $background-subtle-dark-color;
        border-bottom: solid 1px $border-dark-color;
        color: $low-contrast-text-dark-color;
    }

    div[data-rehype-pretty-code-fragment] [data-highlighted-line] {
        border-left-color: $code-highlight-dark-pure-color;
        background-color: $code-highlight-dark-color;
    }
}


/* Estilos para líneas de código */
div[data-rehype-pretty-code-fragment] [data-line] {
    padding-left: 0.75rem;
    border-left-width: 8px;
    border-left-color: transparent;
}


/* 
    Temas claro y oscuro
    para caracteres resaltados 
*/
span[data-highlighted-chars] {
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
    border-bottom: solid 2px;
}

html[data-theme="light"] span[data-highlighted-chars] {
    background-color: $code-text-highlight-light-bg-color;
    border-color: $code-text-highlight-light-bg-color;
}

html[data-theme="dark"] span[data-highlighted-chars] {
    background-color: $code-text-highlight-dark-bg-color;
    border-color: $code-text-highlight-dark-bg-color;
}

/*
    Tema claro y oscuros
    para líneas de codigo
*/
.line {
    padding: 0 .4rem;
    border: solid 1px;
    border-radius: 0.5rem;
}

html[data-theme="light"] .line {
    background-color: $background-subtle-light-color;
    border-color: $border-light-color;
}

html[data-theme="dark"] .line {
    background-color: $background-subtle-dark-color;
    border-color: $border-dark-color;
}


/* Estilos para números de línea */
code[data-line-numbers] {
    counter-reset: lineNumbers;

    >[data-line]::before {
        counter-increment: lineNumbers;
        content: counter(lineNumbers);
        display: inline-block;
        width: 1rem;
        padding-right: 1.4rem;
        text-align: right;
        color: gray;
    }
}


/*
    Configuración de esquemas de color
    esta es la logica para mostrar el code block
    segun el color scheme del usuario
*/
pre[data-theme="dark"] {
    color-scheme: dark;
}

html[data-theme="dark"] {

    pre[data-theme="light"],
    code[data-theme="light"] {
        display: none;
    }
}

html[data-theme="light"] {

    pre[data-theme="dark"],
    code[data-theme="dark"] {
        display: none;
    }
}