// box
.box {
    padding: 2rem;
    display: inline-block;
}

.card {
    border: 1px solid;
    padding: 2rem;
    display: inline-block;
    border-radius: $rounded-1;
    border-color: $border-light-subtle;
}

.card--ghost {
    background-color: $bg-light-accent-subtle;
    border-color: $border-light-accent-color;
    color: $high-contrast-text-light-accent-color;

    &:hover {
        border-color: $border-dark-accent-color-active;
    }
}

.card--solid {
    outline: none;
    border: none;
    background-color: $bg-light-accent-solid;

    &:focus {
        background-color: $bg-light-accent-solid-active;
    }
}

html[data-theme="dark"] {
    .card {
        border-color: $border-dark-subtle;
    }
}


// flex and gap
.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.gap-1 {
    gap: $s-4;
}

.gap-2 {
    gap: $s-6;
}

.gap-3 {
    gap: $s-8;
}

hr {
    margin: $s-8 0;
    border-color: $border-light-base;
}

html[data-theme="dark"] {
    hr {
        border-color: $border-dark-base;
    }
}


// text size
p {
    font-size: $font-size-3;
}

h1 {
    font-size: $font-size-7;
}

h2 {
    font-size: $font-size-6;
}

h3 {
    font-size: $font-size-5;
}

h4 {
    font-size: $font-size-4;
}

h5 {
    font-size: $font-size-3;
}

p.text-1 {
    font-size: $font-size-1;
}

p.text-2 {
    font-size: $font-size-2;
}

p.text-3 {
    font-size: $font-size-3;
}

p.text-4 {
    font-size: $font-size-4;
}

p.text-5 {
    font-size: $font-size-5;
}

p.text-6 {
    font-size: $font-size-6;
}

p.text-7 {
    font-size: $font-size-7;
}

p.text-color-1 {
    color: $high-contrast-text-light-color;
}

p.text-color-2 {
    color: $low-contrast-text-light-color;
}

html[data-theme="dark"] {
    p.text-color-1 {
        color: $high-contrast-text-dark-color;
    }

    p.text-color-2 {
        color: $low-contrast-text-dark-color;
    }
}


// button
.btn {
    display: inline-block;
    width: fit-content;
    padding: $s-2 $s-3;
    border: none;
    border-radius: $rounded-full;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $s-2;

    svg path {
        color: $high-contrast-text-dark-color;
    }

    &:disabled:hover {
        cursor: not-allowed;
    }
}

.btn.btn-primary {
    background-color: $btn-primary-light-bg-color;
    color: $high-contrast-text-dark-color;
    font-weight: 600;

    &:hover {
        background-color: $btn-primary-light-bg-active;
    }

    &:disabled {
        background-color: $gray-light-3;
        color: $low-contrast-text-dark-color;

        svg path {
            color: $low-contrast-text-dark-color;
        }
    }
}

.btn.btn-secondary {
    background-color: $btn-secondary-light-bg-color;
    color: $high-contrast-text-dark-color;

    &:hover {
        background-color: $btn-secondary-light-bg-active;
    }


    &:disabled {
        background-color: $gray-light-2;
        color: $low-contrast-text-dark-color;

        svg path {
            color: $low-contrast-text-dark-color;
        }
    }
}

.btn.btn-primary-gray {
    color: $high-contrast-text-dark-color;
    background-color: $gray-dark-9;
    font-weight: 600;

    &:hover {
        background-color: $gray-dark-10;
    }

    &:disabled {
        background-color: $gray-light-2;
        color: $low-contrast-text-dark-color;

        svg path {
            color: $low-contrast-text-dark-color;
        }
    }
}

.btn.btn-secondary-gray {
    color: $high-contrast-text-dark-color;
    background-color: $btn-secondary-gray-light-bg-color;
    font-weight: 600;

    &:hover {
        background-color: $btn-secondary-gray-light-bg-active;
    }

    &:disabled {
        background-color: $gray-light-2;
        color: $low-contrast-text-dark-color;

        svg path {
            color: $low-contrast-text-dark-color;
        }
    }
}

html[data-theme="dark"] {
    .btn.btn-primary {
        background-color: $btn-primary-dark-bg-color;

        &:hover {
            background-color: $btn-primary-dark-bg-active;
        }

        &:disabled {
            background-color: $gray-dark-2;
            color: $low-contrast-text-light-color;

            svg path {
                color: $low-contrast-text-light-color;
            }
        }
    }

    .btn.btn-secondary {
        background-color: $btn-secondary-dark-bg-color;
        color: $high-contrast-text-light-color;
        font-weight: 600;

        svg path {
            color: $high-contrast-text-light-color;
        }

        &:hover {
            background-color: $btn-secondary-dark-bg-active;
        }

        &:disabled {
            background-color: $gray-dark-2;
            color: $low-contrast-text-light-color;

            svg path {
                color: $low-contrast-text-light-color;
            }
        }
    }

    // gray buttons
    .btn.btn-primary-gray {
        background-color: $btn-primary-gray-dark-bg-color;

        &:hover {
            background-color: $btn-primary-gray-dark-bg-active;
        }

        &:disabled {
            background-color: $gray-dark-2;
            color: $low-contrast-text-light-color;

            svg path {
                color: $low-contrast-text-light-color;
            }
        }
    }

    .btn.btn-secondary-gray {
        color: $high-contrast-text-light-color;
        background-color: $btn-secondary-gray-dark-bg-color;

        svg path {
            color: $high-contrast-text-light-color;
        }

        &:hover {
            background-color: $btn-secondary-gray-dark-bg-active;
        }

        &:disabled {
            background-color: $gray-dark-2;
            color: $low-contrast-text-light-color;

            svg path {
                color: $low-contrast-text-light-color;
            }
        }
    }
}

.pill {
    font-size: $font-size-2;
    font-weight: 600;
    padding: $s-2 $s-4;
    border-radius: $rounded-full;
}


div.pill--info {
    background-color: $pill-info-light-bg-color;
    color: $pill-info-light-color;
}

div.pill--success {
    background-color: $pill-success-light-bg-color;
    color: $pill-success-light-color;
}

div.pill--warning {
    background-color: $pill-warning-light-bg-color;
    color: $pill-warning-light-color;
}

div.pill--danger {
    background-color: $pill-danger-light-bg-color;
    color: $pill-danger-light-color;
}


html[data-theme="dark"] {
    div.pill--info {
        background-color: $pill-info-dark-bg-color;
        color: $pill-info-dark-color;
    }

    div.pill--success {
        background-color: $pill-success-dark-bg-color;
        color: $pill-success-dark-color;
    }

    div.pill--warning {
        background-color: $pill-warning-dark-bg-color;
        color: $pill-warning-dark-color;
    }

    div.pill--danger {
        background-color: $pill-danger-dark-bg-color;
        color: $pill-danger-dark-color;
    }
}