// backgrounds 1-2
// Steps 1 and 2 are designed for app backgrounds and subtle component backgrounds.
// You can use them interchangeably,
// depending on the vibe you're going for.

// components backgrounds 3-4-5
// Step 3 is for normal states.
// Step 4 is for hover states.
// Step 5 is for pressed or selected states.
// if the component has a transparent background
// you can use the step 3 for its hover state

// borders 6-7-8
// Step 6 is designed for subtle borders on components which are not interactive. 
// For example sidebars, headers, cards, alerts, and separators. 
// Step 7 is designed for subtle borders on interactive components. 
// Step 8 is designed for stronger borders on interactive components and focus rings.

// solid background 9-10
// Step 9 has the highest chroma of all steps in the scale. In other words,
// it's the purest step, the step mixed with the least amount of white or black.
// Step 10 is designed for component hover states,
// where step 9 is the component's normal state background.

// Steps 11–12: Text
// Step 11 is designed for low-contrast text.
// Step 12 is designed for high-contrast text.

$gray-light-1: #fcfcfc;
$gray-light-2: #f9f9f9;
$gray-light-3: #f0f0f0;
$gray-light-4: #e8e8e8;
$gray-light-5: #e0e0e0;
$gray-light-6: #d9d9d9;
$gray-light-7: #cecece;
$gray-light-8: #bbbbbb;
$gray-light-9: #8d8d8d;
$gray-light-10: #838383;
$gray-light-11: #646464;
$gray-light-12: #202020;

$gray-dark-1: #111111;
$gray-dark-2: #191919;
$gray-dark-3: #222222;
$gray-dark-4: #2a2a2a;
$gray-dark-5: #313131;
$gray-dark-6: #3a3a3a;
$gray-dark-7: #484848;
$gray-dark-8: #606060;
$gray-dark-9: #6e6e6e;
$gray-dark-10: #7b7b7b;
$gray-dark-11: #b4b4b4;
$gray-dark-12: #eeeeee;

$gray-dark-a1: #111111c2;

$tomato-light-1: #fffcfc;
$tomato-light-2: #fff8f7;
$tomato-light-3: #feebe7;
$tomato-light-4: #ffdcd3;
$tomato-light-5: #ffcdc2;
$tomato-light-6: #fdbdaf;
$tomato-light-7: #f5a898;
$tomato-light-8: #ec8e7b;
$tomato-light-9: #e54d2e;
$tomato-light-10: #dd4425;
$tomato-light-11: #d13415;
$tomato-light-12: #5c271f;

$tomato-dark-1: #181111;
$tomato-dark-2: #1f1513;
$tomato-dark-3: #391714;
$tomato-dark-4: #4e1511;
$tomato-dark-5: #5e1c16;
$tomato-dark-6: #6e2920;
$tomato-dark-7: #853a2d;
$tomato-dark-8: #ac4d39;
$tomato-dark-9: #e54d2e;
$tomato-dark-10: #ec6142;
$tomato-dark-11: #ff977d;
$tomato-dark-12: #fbd3cb;

$tomato-light-a1: #ff000003;
$tomato-light-a2: #ff200008;
$tomato-light-a3: #f52b0018;
$tomato-light-a4: #ff35002c;
$tomato-light-a5: #ff2e003d;
$tomato-light-a6: #f92d0050;
$tomato-light-a7: #e7280067;
$tomato-light-a8: #db250084;
$tomato-light-a9: #df2600d1;
$tomato-light-a10: #d72400da;
$tomato-light-a11: #cd2200ea;
$tomato-light-a12: #460900e0;

$tomato-dark-a1: #f1121208;
$tomato-dark-a2: #ff55330f;
$tomato-dark-a3: #ff35232b;
$tomato-dark-a4: #fd201142;
$tomato-dark-a5: #fe332153;
$tomato-dark-a6: #ff4f3864;
$tomato-dark-a7: #fd644a7d;
$tomato-dark-a8: #fe6d4ea7;
$tomato-dark-a9: #fe5431e4;
$tomato-dark-a10: #ff6847eb;
$tomato-dark-a11: #ff977d;
$tomato-dark-a12: #ffd6cefb;


$red-light-1: #fffcfc;
$red-light-2: #fff7f7;
$red-light-3: #feebec;
$red-light-4: #ffdbdc;
$red-light-5: #ffcdce;
$red-light-6: #fdbdbe;
$red-light-7: #f4a9aa;
$red-light-8: #eb8e90;
$red-light-9: #e5484d;
$red-light-10: #dc3e42;
$red-light-11: #ce2c31;
$red-light-12: #641723;

$red-dark-1: #191111;
$red-dark-2: #201314;
$red-dark-3: #3b1219;
$red-dark-4: #500f1c;
$red-dark-5: #611623;
$red-dark-6: #72232d;
$red-dark-7: #8c333a;
$red-dark-8: #b54548;
$red-dark-9: #e5484d;
$red-dark-10: #ec5d5e;
$red-dark-11: #ff9592;
$red-dark-12: #ffd1d9;


$sky-light-1: #f9feff;
$sky-light-2: #f1fafd;
$sky-light-3: #e1f6fd;
$sky-light-4: #d1f0fa;
$sky-light-5: #bee7f5;
$sky-light-6: #a9daed;
$sky-light-7: #8dcae3;
$sky-light-8: #60b3d7;
$sky-light-9: #7ce2fe;
$sky-light-10: #74daf8;
$sky-light-11: #00749e;
$sky-light-12: #1d3e56;

$sky-dark-1: #0d141f;
$sky-dark-2: #111a27;
$sky-dark-3: #112840;
$sky-dark-4: #113555;
$sky-dark-5: #154467;
$sky-dark-6: #1b537b;
$sky-dark-7: #1f6692;
$sky-dark-8: #197cae;
$sky-dark-9: #7ce2fe;
$sky-dark-10: #a8eeff;
$sky-dark-11: #75c7f0;
$sky-dark-12: #c2f3ff;


$yellow-1: #fdfdf9;
$yellow-light-2: #fefce9;
$yellow-light-3: #fffab8;
$yellow-light-4: #fff394;
$yellow-light-5: #ffe770;
$yellow-light-6: #f3d768;
$yellow-light-7: #e4c767;
$yellow-light-8: #d5ae39;
$yellow-light-9: #ffe629;
$yellow-light-10: #ffdc00;
$yellow-light-11: #9e6c00;
$yellow-light-12: #473b1f;

$yellow-dark-1: #14120b;
$yellow-dark-2: #1b180f;
$yellow-dark-3: #2d2305;
$yellow-dark-4: #362b00;
$yellow-dark-5: #433500;
$yellow-dark-6: #524202;
$yellow-dark-7: #665417;
$yellow-dark-8: #836a21;
$yellow-dark-9: #ffe629;
$yellow-dark-10: #ffff57;
$yellow-dark-11: #f5e147;
$yellow-dark-12: #f6eeb4;

$grass-light-1: #fbfefb;
$grass-light-2: #f5fbf5;
$grass-light-3: #e9f6e9;
$grass-light-4: #daf1db;
$grass-light-5: #c9e8ca;
$grass-light-6: #b2ddb5;
$grass-light-7: #94ce9a;
$grass-light-8: #65ba74;
$grass-light-9: #46a758;
$grass-light-10: #3e9b4f;
$grass-light-11: #2a7e3b;
$grass-light-12: #203c25;

$grass-dark-1: #0e1511;
$grass-dark-2: #141a15;
$grass-dark-3: #1b2a1e;
$grass-dark-4: #1d3a24;
$grass-dark-5: #25482d;
$grass-dark-6: #2d5736;
$grass-dark-7: #366740;
$grass-dark-8: #3e7949;
$grass-dark-9: #46a758;
$grass-dark-10: #53b365;
$grass-dark-11: #71d083;
$grass-dark-12: #c2f0c2;


$red-light-1: #fffcfc;
$red-light-2: #fff7f7;
$red-light-3: #feebec;
$red-light-4: #ffdbdc;
$red-light-5: #ffcdce;
$red-light-6: #fdbdbe;
$red-light-7: #f4a9aa;
$red-light-8: #eb8e90;
$red-light-9: #e5484d;
$red-light-10: #dc3e42;
$red-light-11: #ce2c31;
$red-light-12: #641723;

$red-dark-1: #191111;
$red-dark-2: #201314;
$red-dark-3: #3b1219;
$red-dark-4: #500f1c;
$red-dark-5: #611623;
$red-dark-6: #72232d;
$red-dark-7: #8c333a;
$red-dark-8: #b54548;
$red-dark-9: #e5484d;
$red-dark-10: #ec5d5e;
$red-dark-11: #ff9592;
$red-dark-12: #ffd1d9;