$base-color-1: $gray-light-1;
$base-color-2: $gray-light-2;
$base-color-3: $gray-light-3;
$base-color-4: $gray-light-4;
$base-color-5: $gray-light-5;
$base-color-6: $gray-light-6;
$base-color-7: $gray-light-7;
$base-color-8: $gray-light-8;
$base-color-9: $gray-light-9;
$base-color-10: $gray-light-10;
$base-color-11: $gray-light-11;
$base-color-12: $gray-light-12;

$accent-color-1: $lime-light-1;
$accent-color-2: $lime-light-2;
$accent-color-3: $lime-light-3;
$accent-color-4: $lime-light-4;
$accent-color-5: $lime-light-5;
$accent-color-6: $lime-light-6;
$accent-color-7: $lime-light-7;
$accent-color-8: $lime-light-8;
$accent-color-9: $lime-light-9;
$accent-color-10: $lime-light-10;
$accent-color-11: $lime-light-11;
$accent-color-12: $lime-light-12;

$background-primary: $base-color-1;
$background-secondary: $base-color-2;

$background-primary-accent: $accent-color-1;
$background-secondary-accent: $accent-color-2;

$background-surface-primary: $base-color-3;
$background-surface-hovered-primary: $base-color-4;
$background-surface-active-primary: $base-color-5;

$background-surface-primary-accent: $accent-color-3;
$background-surface-hovered-primary-accent: $accent-color-4;
$background-surface-active-primary-accent: $accent-color-5;

$background-primary-solid: $base-color-9;
$background-primary-solid-hover: $base-color-10;

$background-primary-solid-accent: $accent-color-9;
$background-primary-solid-accent-hover: $accent-color-10;

$border-primary: $base-color-6;
$border-primary-focus: $base-color-7;
$border-primary-hover: $base-color-8;

$border-primary-accent: $accent-color-6;
$border-primary-accent-focus: $accent-color-7;
$border--primary-accent-hover: $accent-color-8;

$text-primary: $base-color-12;
$text-secondary: $base-color-11;

$text-primary-accent: $accent-color-12;
$text-secondary-accent: $accent-color-11;
