// // bg
// $bg-dark: #000;
// $bg-light: #fff;

// // text
// $text-color-white: #f8f8f8;
// $text-color-black: #111111;
// $border-color-dark: #2c2c2c;


// Media queries for devices
$breakpoint-phone: 425px; // phone
$breakpoint-tablet: 768px; // tablet
$breakpoint-laptop: 992px; // laptop
$breakpoint-desktop: 1440px; // desktop
$breakpoint-desktop-xlarge: 2560px; // large

// container breakpoints
$container-w-small: 96%; // phone
$container-w-medium: 90%; // tablet
$container-w-normal: 54%; // laptop
$container-w-large: 48%; // desktop
$container-w-xlarge: 38%; // large desktop


// font size for each breakpoint
$h1-small : 36px;
$h1-medium: 38px;
$h1-normal: 42px;
$h1-large : 48px;
$h1-xlarge: 54px;

$h2-small : 22px;
$h2-medium: 24px;
$h2-normal: 26px;
$h2-large : 28px;
$h2-xlarge: 32px;

$h3-small : 18px;
$h3-medium: 20px;
$h3-normal: 22px;
$h3-large : 24px;
$h3-xlarge: 26px;

$text-small : 22px;
$text-medium: 22px;
$text-normal: 22px;
$text-large : 22px;
$text-xlarge: 22px;


// themes

// app / code blocks / cards / sidebar backgrounds
$background-light-color: $gray-light-1;
$background-subtle-light-color: $gray-light-2;

$background-dark-color: $gray-dark-1;
$background-dark-subtle-color: $gray-dark-2;

// borders
$border-dark-color: $gray-dark-6;
$border-light-color: $gray-light-6;

$border-accent-dark-color: $tomato-dark-6;
$border-accent-light-color: $tomato-light-6;

// text colors like p, span, etc
$low-contrast-text-light-color: $gray-light-11;
$low-contrast-text-dark-color: $gray-dark-11;

$high-contrast-text-light-color: $gray-light-12;
$high-contrast-text-dark-color: $gray-dark-12;

$text-light-color: $high-contrast-text-light-color;
$text-dark-color: $high-contrast-text-dark-color;



// anchor text colors and states
$low-contrast-link-light-color: $tomato-light-11;
$high-contrast-link-light-color: $tomato-light-12;

$low-contrast-link-dark-color: $tomato-dark-11;
$high-contrast-link-dark-color: $tomato-dark-12;

$link-light-color: $low-contrast-link-light-color;
$link-dark-color: $low-contrast-link-dark-color;